@import "tailwindcss";

:root {
    --bg-main: #050505;
    --grid-line: rgba(255, 255, 255, 0.03);
    --neon-green: #00ff9d;
}

body {
    background-color: var(--bg-main);
    color: #e5e7eb;
    font-family: ui-sans-serif, system-ui, sans-serif;
    background-image:
            linear-gradient(var(--grid-line) 1px, transparent 1px),
            linear-gradient(90deg, var(--grid-line) 1px, transparent 1px);
    background-size: 50px 50px;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    background: rgba(0, 255, 157, 0.2);
    color: #fff;
}